.ipt_size {
    margin: 2;
    width: 20%;
}

Input {
    margin: 2;
    min-width: 70%;
}

#hg_resultado {
    height: 20;
    width: 50%;
    background: rgba(93, 93, 93, 1);
    align: center middle;
}


TelaConfig {
    align: center middle;
}